@font-face {
  font-family: LouisaCP;
  src: url('./fonts/LouisaCP.woff');
}

@font-face {
  font-family: UniversalSerif;
  src: url('./fonts/UniversalSerif.woff');
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

h2 {
  font-size: 1em;
  margin: 0;
}

h3 {
  font-size: 0.8em;
  margin: 0;
}

h4 {
  font-size: 0.5em;
  margin: 0;
}

p {
  font-size: 0.7em;
  margin: 0;
}

@media (min-height: 880px) and (orientation: landscape),
  (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 0.9em;
  }

  h4 {
    font-size: 0.7em;
  }

  p {
    font-size: 0.7em;
  }
}
