/* Common Shared Classes */

.btn {
  min-width: 130px;
  padding: 15px 20px;
  font-size: 15px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 999px;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
  transition: background-color 100ms ease-out, box-shadow 100ms ease-out;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.primary {
  border: 1px solid #000000;
  color: #000000;
  background-color: #ffffff;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn.disabled {
  border: 1px solid #757575;
  color: #666666;
  background-color: #444444;
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  background-color: #191919;
}

.btn.primary:not(:disabled):hover {
  background-color: #e7e7e7;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.2);
}

.btn.large {
  min-width: 200px;
  padding: 20px 40px;
  font-size: 20px;
}

.btn.large:focus {
  outline: none;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Animations */

/* Global Animations */

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 0.5s;
}

.quick-fade {
  animation-name: fade-in;
  animation-duration: 0.1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(233, 255, 0, 0.8);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(233, 255, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(233, 255, 0, 0);
  }
}

@keyframes scale-pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}

.shake-small {
  animation: small-shake 0.2s infinite;
}

.shake-big {
  animation: big-shake 0.2s infinite;
}

@keyframes small-shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2px, -2px);
  }
  50% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes big-shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, -5px);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  75% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* For 'transition' element */

.fast-fade-enter-active {
    transition: opacity 0.2s ease-out;
}

.fast-fade-leave-active {
    transition: opacity 0.2s ease-out;
}

.fast-fade-enter-from,
.fast-fade-leave-to {
    opacity: 0;
}

.fade-enter-active {
    transition: opacity 0.5s ease-out;
}

.fade-leave-active {
    transition: opacity 0.5s ease-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slow-fade-enter-active {
    transition: opacity 1s ease-out;
}

.slow-fade-leave-active {
    transition: opacity 1s ease-out;
}

.slow-fade-enter-from,
.slow-fade-leave-to {
    opacity: 0;
}
