/* Global Styles */

@import './normalize.css';
@import './base.css';
@import './common.css';
@import './game-board.css';

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

/* Make all image assets immediately available in DOM (prevents additional image network call on card render) */
html {
  overscroll-behavior-y: contain;
  background-image: url('./images/bite-blood.png'), url('./images/br-camoynes.png'),
    url('./images/br-berry.png'), url('./images/br-cannon.png'), url('./images/br-cavalry.png'),
    url('./images/br-drummer.png'), url('./images/br-footguard.png'),
    url('./images/br-fredrickson.png'), url('./images/br-frigate.png'),
    url('./images/br-girdwood.png'), url('./images/br-hagman.png'), url('./images/br-hakeswill.png'),
    url('./images/br-harper.png'), url('./images/br-harris.png'), url('./images/br-hogan.png'),
    url('./images/br-infantry.png'), url('./images/br-j-sharpe.png'), url('./images/br-moreno.png'),
    url('./images/br-nairn.png'), url('./images/br-price.png'), url('./images/br-pyecroft.png'),
    url('./images/br-rifle.png'), url('./images/br-schooner.png'), url('./images/br-sergent.png'),
    url('./images/br-sharpe.png'), url('./images/br-shipoftheline.png'),
    url('./images/br-simmerson.png'), url('./images/br-victory.jpg'),
    url('./images/br-wellington.jpg'), url('./images/british-flag.png'),
    url('./images/fr-brand.png'), url('./images/fr-brig.png'), url('./images/fr-cannon.png'),
    url('./images/fr-cavalry.png'), url('./images/fr-c-maquerre.png'),
    url('./images/fr-dubreton.png'), url('./images/fr-drummer.png'), url('./images/fr-ducos.png'),
    url('./images/fr-gaston.png'), url('./images/fr-calvet.png'), url('./images/fr-infantry.png'),
    url('./images/fr-legros.png'), url('./images/fr-leroux.png'), url('./images/fr-loup.png'),
    url('./images/fr-maquerre.png'), url('./images/fr-napoleon.jpg'),
    url('./images/fr-oldguard.png'), url('./images/fr-p-leroux.png'), url('./images/fr-sergent.png'),
    url('./images/fr-voltigeur.png'), url('./images/french-flag.png'),
    url('./images/main-menu-bg.jpg'), url('./images/plague-cells.jpg'), url('./images/rain.png'),
    url('./images/scorch-flame.jpg'), url('./images/scorch.png'), url('./images/sharpe-cutout.png'),
    url('./images/un-bat.jpg'), url('./images/un-flying-dutchman.jpg'), url('./images/un-ghost.jpg'),
    url('./images/un-ghoul.jpg'), url('./images/un-hag.jpg'), url('./images/un-hagman.jpg'),
    url('./images/un-hakeswill.jpg'), url('./images/un-harper.jpg'), url('./images/un-harris.jpg'),
    url('./images/un-horseman-death.jpg'), url('./images/un-horseman-famine.jpg'),
    url('./images/un-horseman-pestilence.jpg'), url('./images/un-horseman-war.jpg'),
    url('./images/un-kraken.jpg'), url('./images/un-minotaur.jpg'),
    url('./images/un-necromancer.jpg'), url('./images/un-plague.jpg'), url('./images/un-sharpe.jpg'),
    url('./images/un-skeleton-king.jpg'), url('./images/un-spider.jpg'),
    url('./images/un-troll.jpg'), url('./images/un-vampire.jpg'), url('./images/un-werewolf.jpg'),
    url('./images/undead-flag.png');
  background-size: 0;
}

#app {
  width: 100%;
  min-width: 320px;
  height: 100%;
}

.loader {
  z-index: 9000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  -webkit-user-select: none;
  user-select: none;
}

.loader .icon {
  width: 28px;
  height: 28px;
  margin: 10px;
}

.loader .save-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 40px 40px;
}

.loader.desktop {
  font-size: 20px;
}

.loader.desktop .icon {
  width: 35px;
  height: 35px;
  margin: 10px;
}

.awards-gallery {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.awards-gallery .awards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.awards-gallery .award-container {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  background-color: #232323;
}

.awards-gallery .award-container .description {
  margin: 0;
  font-size: 11px;
  text-wrap: pretty;
}

.awards-gallery.desktop .awards-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.awards-gallery.desktop .award-container {
  gap: 15px;
}

.awards-gallery.desktop .award-container .description {
  font-size: 14px;
}

.how-to-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.how-to-play .how-to-play-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.how-to-play .how-to-play-list .list-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.how-to-play .how-to-play-list .list-icon {
  width: 40px;
  height: 40px;
}

.how-to-play .how-to-play-list .list-text {
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}

.how-to-play .how-to-play-list .list-text strong {
  font-weight: 900;
}

.how-to-play .divider {
  width: 100px;
  height: 1px;
  min-height: 1px;
  background-color: #ffffff;
}

.how-to-play .catch-text {
  padding: 15px;
  text-align: center;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  color: #000000;
  border-radius: 10px;
  background-color: #d8d8d8;
}

.how-to-play .catch-text strong {
  font-weight: 900;
}

.how-to-play .tip-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.how-to-play .tip-container .tip-item {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 15px;
  align-self: stretch;
  border-radius: 10px;
  background: #232323;
}

.how-to-play .tip-container .tip-icon {
  width: 30px;
  height: 30px;
}

.how-to-play .tip-container .tip-text {
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
}

.how-to-play .tip-container .tip-text strong {
  font-weight: 900;
}

.how-to-play.desktop {
  gap: 30px;
}

.how-to-play.desktop .how-to-play-list {
  gap: 30px;
}

.how-to-play.desktop .how-to-play-list .list-icon {
  width: 50px;
  height: 50px;
}

.how-to-play.desktop .how-to-play-list .list-text {
  font-size: 18px;
}

.how-to-play.desktop .divider {
  width: 200px;
}

.how-to-play.desktop .catch-text {
  padding: 20px;
  font-size: 18px;
}

.how-to-play.desktop .tip-container .tip-item {
  padding: 15px;
}

.how-to-play.desktop .tip-container .tip-icon {
  width: 40px;
  height: 40px;
}

.how-to-play.desktop .tip-container .tip-text {
  font-size: 14px;
}
