/* Global Styles */

@import './normalize.css';
@import './base.css';
@import './common.css';
@import './game-board.css';

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

/* Make all image assets immediately available in DOM (prevents additional image network call on card render) */
html {
  overscroll-behavior-y: contain;
  background-image: url('./images/br-camoynes.png'), url('./images/br-berry.png'),
    url('./images/br-cannon.png'), url('./images/br-cavalry.png'), url('./images/br-drummer.png'),
    url('./images/br-footguard.png'), url('./images/br-fredrickson.png'),
    url('./images/br-frigate.png'), url('./images/br-hagman.png'), url('./images/br-hakeswill.png'),
    url('./images/br-harper.png'), url('./images/br-harris.png'), url('./images/br-hogan.png'),
    url('./images/br-infantry.png'), url('./images/br-leroy.png'), url('./images/br-moreno.png'),
    url('./images/br-nairn.png'), url('./images/br-price.png'), url('./images/br-pyecroft.png'),
    url('./images/br-rifle.png'), url('./images/br-rossendale.png'), url('./images/br-schooner.png'),
    url('./images/br-sergent.png'), url('./images/br-sharpe.png'),
    url('./images/br-shipoftheline.png'), url('./images/br-simmerson.png'),
    url('./images/br-victory.jpg'), url('./images/br-wellington.jpg'),
    url('./images/british-flag.png'), url('./images/fr-brand.png'), url('./images/fr-brig.png'),
    url('./images/fr-cannon.png'), url('./images/fr-cavalry.png'), url('./images/fr-dubreton.png'),
    url('./images/fr-drummer.png'), url('./images/fr-ducos.png'), url('./images/fr-gaston.png'),
    url('./images/fr-calvet.png'), url('./images/fr-infantry.png'), url('./images/fr-legros.png'),
    url('./images/fr-leroux.png'), url('./images/fr-loup.png'), url('./images/fr-maquerre.png'),
    url('./images/fr-napoleon.jpg'), url('./images/fr-oldguard.png'),
    url('./images/fr-p-leroux.png'), url('./images/fr-sergent.png'),
    url('./images/fr-voltigeur.png'), url('./images/french-flag.png'),
    url('./images/main-menu-bg.jpg'), url('./images/rain.png'), url('./images/scorch-flame.jpg'),
    url('./images/scorch.png'), url('./images/sharpe-cutout.png');
  background-size: 0;
}

#app {
  width: 100%;
  min-width: 320px;
  height: 100%;
}

.loader {
  z-index: 9000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  -webkit-user-select: none;
  user-select: none;
}

.loader .icon {
  width: 28px;
  height: 28px;
  margin: 10px;
}

.loader .save-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 40px 40px;
}

.loader.desktop {
  font-size: 20px;
}

.loader.desktop .icon {
  width: 35px;
  height: 35px;
  margin: 10px;
}

.awards-gallery {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.awards-gallery .awards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.awards-gallery .award-container {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  background-color: rgb(50 50 50 / 80%);
}

.awards-gallery .award-container .description {
  margin: 0;
  font-size: 11px;
  text-wrap: pretty;
}

.awards-gallery.desktop .awards-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.awards-gallery.desktop .award-container {
  gap: 15px;
}

.awards-gallery.desktop .award-container .description {
  font-size: 14px;
}
