@import './normalize.css';

html,
body {
  height: 100%;
  overflow: scroll;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 320px;
  overflow: scroll;
  background-color: #000000;
}

.loader {
  z-index: 9000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
}

/* Common Shared Classes */

.btn {
  padding: 5px;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 9999px;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.btn.large {
  min-width: 150px;
  margin: 5px 0;
  padding: 13px;
  font-size: 14px;
}

.btn.primary {
  border: 1px solid #000000;
  color: #000000;
  background-color: #ffffff;
}

.btn.disabled {
  border: 1px solid #757575;
  color: #757575;
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.stat-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 50%;
}

.stat-badge.player {
  background-color: lemonchiffon;
}

.stat-badge.opponent {
  background-color: lightskyblue;
}

.card-wrap {
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
}

.card {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}

.card-stat-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff;
}

.card-stat-badge.ability {
  border-color: #ffffff;
  color: #ffffff;
  background-color: #000000;
}

.card-stat-badge.type {
  position: absolute;
  right: 0;
  border-color: #775022;
  background-color: #c9883a;
}

.card.hero .card-stat-badge.value {
  border-style: dotted;
  border-color: #f9a825;
  color: #f9a825;
  background-color: #000000;
}

.animation-overlay {
  z-index: 1000;
  display: none;
  position: absolute;
  top: 0;
  /*bottom: 0;*/
  left: 0;
  /*right: 0;*/
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.no-mobile-highlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Board Layout */

.game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 320px;
  background-color: #727272;
}

.scroll-container {
  position: relative;
  width: 100%;
  margin: auto;
}

.opponent-board {
  flex: 1 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
}

.player-board {
  flex: 1 1;
}

/* Central Game Stats */

.game-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #bfbfbf;
}

.game-details .pass-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
}

.game-details .pass-btn span {
  transform: rotate(-90deg);
}

.game-details .board-card {
  flex-shrink: 0;
  margin: 0 5px;
}

.player-details,
.opponent-details {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
}

.player-details {
  flex-direction: row-reverse;
}

.game-details .total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.game-details .total .icon {
  position: absolute;
  top: -5px;
}

.game-details .player-details .total .round-icon,
.game-details .opponent-details .total .pass-icon {
  left: -5px;
}

.game-details .player-details .total .pass-icon,
.game-details .opponent-details .total .round-icon {
  right: -5px;
}

.game-details .avatar {
  width: 30px;
  height: 30px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  background-size: cover;
}

.game-details .player-details .avatar {
  border-color: lemonchiffon;
}

.game-details .opponent-details .avatar {
  border-color: lightskyblue;
}

.game-details .player-details .avatar.active,
.game-details .opponent-details .avatar.active {
  border-color: chartreuse;
}

.game-details .stat-badge {
  width: 30px;
  height: 30px;
  margin-top: -8px;
  line-height: 30px;
  font-weight: bold;
  font-size: 16px;
}

.game-details .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.game-details .name,
.game-details .stats {
  display: flex;
  height: 30px;
  padding: 0 5px;
}

.game-details .name {
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
}

.game-details .name .title {
  font-weight: bold;
}

.game-details .player-details .name {
  text-align: end;
}

.game-details .stats {
  align-items: center;
}

.game-details .player-details .stats {
  flex-direction: row-reverse;
  justify-content: end;
}

.game-details .stats .hand-total,
.game-details .stats .dead-pile {
  display: flex;
  align-items: center;
  width: 35px;
  height: 25px;
  font-size: 12px;
}

.game-details .stats .dead-pile {
  cursor: pointer;
}

.game-details .player-details .stats .hand-total,
.game-details .player-details .stats .dead-pile {
  flex-direction: row-reverse;
}

/* Card Rows */

.card-row {
  display: flex;
  height: 70px;
  box-sizing: border-box;
  background-color: #9aa0a8;
}

.opponent-board .card-row {
  border-bottom: 1px solid #5c6166;
}

.player-board .card-row {
  border-top: 1px solid #5c6166;
}

.row-stats {
  flex: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.row-stats .stat-badge {
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 13px;
}

.row-stats .card-stat-badge {
  width: 18px;
  height: 18px;
}

.card-container {
  flex: 1 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.player-hand {
  justify-content: center;
  background-color: #bfbfbf;
}

/* Board Card */

.board-card {
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
}

.board-card.disabled {
  cursor: not-allowed;
}

.board-card.active {
  background-color: chartreuse;
}

.board-card:last-child,
.board-card:hover,
.board-card.active {
  overflow: visible;
}

.board-card .card-wrap {
  width: 50px;
  height: 100%;
  box-sizing: content-box;
  border-radius: 4px;
}

.board-card .card {
  height: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #000000;
}

.board-card .card-stat-badge {
  width: 18px;
  height: 18px;
  font-size: 12px;
}

.board-card .card-stat-badge.type {
  bottom: 2px;
}

.board-card .placeholder {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #60656b;
}

.placeholder .icon {
  color: #60656b;
}

/* Card Modal */

.card-modal {
  z-index: 5000;
  position: absolute;
  top: 0;
  bottom: 70px;
  left: 0;
  right: 0;
}

.card-modal .card-modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card-modal .card-modal-content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Card Carousel */

.card-carousel {
  position: relative;
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.slides {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -25px;
  border: 2px solid black;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: #000000;
}

.next-btn {
  left: auto;
  right: 0;
}

.prev-btn.disabled,
.next-btn.disabled {
  transform: none !important;
}

.prev-btn:active,
.next-btn:active {
  transform: translate(0, 3px);
}

.prev-btn .icon {
  margin-left: -2px;
}

.next-btn .icon {
  margin-right: -2px;
}

/* Hover animation on supported devices only */
@media (hover: hover) {
  .prev-btn:hover,
  .next-btn:hover {
    transform: scale(1.2);
  }

  .prev-btn:active,
  .next-btn:active {
    transform: translate(0, 3px) scale(1.2);
  }
}

/* Carousel Card */

.carousel-card {
  height: 300px;
  overflow: hidden;
}

.carousel-card .card-wrap {
  width: 150px;
  height: 200px;
  margin: 0 auto;
  box-sizing: content-box;
  border-radius: 8px;
}

.carousel-card .card-border {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 8px;
  background-color: #000000;
}

.carousel-card .card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 5px solid #000000;
  border-radius: 8px;
}

.carousel-card .card-stat-badge {
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.carousel-card .card-stat-badge.value,
.carousel-card .card-stat-badge.ability {
  margin-top: 2px;
  margin-left: 2px;
}

.carousel-card .card-stat-badge.type {
  bottom: 4px;
  right: 2px;
}

.carousel-card .carousel-card-details {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  line-height: 14px;
  color: #ffffff;
  background-color: #000000;
}

.carousel-card .carousel-card-details .title {
  font-size: 11px;
  font-weight: bold;
}

.carousel-card .carousel-card-details .description {
  margin-top: 5px;
  font-size: 9px;
}

/* Animations */

/* For loader 'transition' element */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.quick-fade {
  animation-name: fade-in;
  animation-duration: 0.1s;
}

.white-fade-in {
  display: block;
  animation-name: fade-in;
  animation-duration: 0.4s;
  background: #fff;
}

.white-fade-out {
  display: block;
  animation-name: fade-out;
  animation-duration: 0.4s;
  background: #fff;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.shine {
  display: block;
  background: #fff;
  background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.8)),to(rgba(255,255,255,0)));
  background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 50%,rgba(255,255,255,0) 100%);
  opacity: 0;
  transform: skew(30deg);
  animation: shine 0.5s linear 1;
}

@keyframes shine {
  0% {
    left: -50%;
    opacity: 0;
  }
  50% {
    left: 25%;
    /*opacity: .5;*/
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

/* Desktop Styles */
@media (min-width: 1200px) and (min-height: 880px) and (orientation: landscape) {
  .game-container {
    width: 80%;
    max-width: 1600px;
  }
}

/* Desktop / Tablet Styles */
@media (min-height: 880px) and (orientation: landscape),
  (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
  /* Common Shared Classes */

  .btn {
    padding: 10px;
    font-size: 14px;
  }

  .btn.large {
    min-width: 250px;
    margin: 10px 0;
    padding: 20px;
    font-size: 20px;
  }

  /* Board Layout */

  .game-details,
  .card-row {
    height: 110px;
  }

  .row-stats {
    flex: 0 55px;
  }

  .row-stats .stat-badge {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
  }

  .row-stats .card-stat-badge {
    width: 26px;
    height: 26px;
    margin-top: 3px;
    font-size: 16px;
  }

  /* Central Game Stats */

  .game-details .pass-btn {
    width: 55px;
    font-size: 20px;
  }

  .player-details {
    padding-right: 20px;
  }

  .opponent-details {
    padding-left: 20px;
  }

  .game-details .total .icon {
    top: -8px;
  }

  .game-details .player-details .total .round-icon,
  .game-details .opponent-details .total .pass-icon {
    left: -8px;
  }

  .game-details .player-details .total .pass-icon,
  .game-details .opponent-details .total .round-icon {
    right: -8px;
  }

  .game-details .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
  }

  .game-details .stat-badge {
    width: 50px;
    height: 50px;
    margin-top: -8px;
    line-height: 30px;
    font-size: 24px;
  }

  .game-details .name,
  .game-details .stats {
    height: 50px;
    padding: 0 10px;
  }

  .game-details .name {
    font-size: 16px;
  }

  .game-details .stats .hand-total,
  .game-details .stats .dead-pile {
    height: 40px;
    width: 70px;
    font-size: 20px;
  }

  .game-details .stats .dead-pile.disabled {
    cursor: not-allowed;
  }

  .game-details .player-details .stats .icon {
    margin-left: 2px;
  }

  .game-details .opponent-details .stats .icon {
    margin-right: 2px;
  }

  /* Board Card */

  .board-card .card-wrap {
    width: 90px;
  }

  .board-card .card-stat-badge {
    width: 26px;
    height: 26px;
    font-size: 16px;
  }

  .board-card .card-stat-badge.type {
    bottom: 3px;
  }

  /* Card Modal */

  .card-modal {
    bottom: 110px;
  }

  /* Card Carousel */

  .card-carousel {
    width: 460px;
  }

  .prev-btn,
  .next-btn {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-top: -35px;
  }

  /* Carousel Card */

  .carousel-card {
    height: 530px;
  }

  .carousel-card .card-wrap {
    width: 250px;
    height: 350px;
  }

  .carousel-card .card-border {
    border-radius: 10px;
  }

  .carousel-card .card {
    border: 8px solid #000000;
    border-radius: 10px;
  }

  .carousel-card .card-stat-badge {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .carousel-card .card-stat-badge.value,
  .carousel-card .card-stat-badge.ability {
    margin-top: 5px;
    margin-left: 5px;
  }

  .carousel-card .card-stat-badge.type {
    bottom: 10px;
    right: 5px;
  }

  .carousel-card .carousel-card-details {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    line-height: 22px;
    color: #ffffff;
    background-color: #000000;
  }

  .carousel-card .carousel-card-details .title {
    font-size: 16px;
    font-weight: bold;
  }

  .carousel-card .carousel-card-details .description {
    margin-top: 15px;
    font-size: 12px;
  }
}
